body{
    font-family: 'Work Sans';
}
/* header part  */

/* nav stat  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;

}
/* nav end  */
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: 0;
    text-align: center;

    color: #FFFFFF;

}

.header-section {
    background-color: #ff900e1a;
    ;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text {
    width: 862px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text h2{
    font-weight: 700;
font-size: 64px;
text-align: center;

/* Dark 01 */

color: #131313;

}

.banner-text p {
    font-weight: 400;
    font-size: 16px;
    /* or 162% */
    text-align: center;
    /* Dark 03 */
    color: #727272;
    margin-bottom: 32px;
}

.banner-img{
    margin-top: 50px;
    margin-bottom: 45px;
}
.banner-img img {
    width: 100%;
}
/* main  */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* feature section  start */

.features{
margin-top: 85px;
}
.feature-info {
    display: flex;
    gap: 73px;
    justify-content: center;
    align-items: center;

}
.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-img img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.feature-text{
    width: 537px;
height: 304px;
}
.feature-text h2{
    font-weight: 500;
font-size: 45px;
line-height: 53px;
color: #727272;
}

.feature-text p{
    font-weight: 400;
font-size: 16px;
color: #727272;
}


/* more features  */

.sec-2{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.more-features{
    max-width: 1440px;
height: 1059px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 146px;
}

.more-features-text{
    width: 586px;
}
/* ... */
.m-text-1 h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: solid 3px #FF900E;
    padding-left: 21px;
}
.m-text-1 p{
    font-weight: 400;
font-size: 16px;
color: #727272;
}

.m-text-t-c{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.m-text-2 h3{
    font-weight: 600;
font-size: 20px;
color: #131313;
}

.m-text-2{
    width: 586px;
height: 171px;
background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: center;
}

.m-text-2 p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* .... */
.more-features-img img{
width: 100%;
height: 982px;
}
.btn-big{
    width: 342px;
height: 200px;
background: #FF900E;
border-radius: 8px;
font-weight: 700;
font-size: 65px;
text-align: center;
color: #FFFFFF;
border: none;
padding: 42px;
}
/* feature sectin end  */

/* achievement */

.somefacts{
    max-width: 1440px;
}

.facts h2{
    font-weight: 700;
font-size: 45px;
color: #131313;
}

.facts p{
    font-weight: 400;
font-size: 16px;
color: #727272;
width: 542px;
height: 52px;
}
.achievement{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.achiv{
    display: flex;
    flex-direction: column;
align-items: center;
    justify-content: center;
height: 241.83px;
border: solid red 2px;
padding: 35px;
margin-bottom: 140px;
}
.achiv img{
    width: 45.22px;
height: 45.22px;
}

.achiv h2{

    font-weight: 600;
font-size: 45px;
color: #424242;
}

.achiv p{
    font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #727272;

}
/* achievement end  */

/* sponspors start  */
.sponspors{
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;

}

.sponspors-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.sponspors-text h2{
    font-weight: 700;
font-size: 45px;
color: #131313;
}

.sponspors-text p{
    font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
width: 542px;
height: 52px;
}

.sponspors-imgs{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 55px;
}

/* sponspors end  */


/* footer start  */
footer{
    height: 100px;
background-color: #FFF4E7;
border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;

}
.footer-text{
    width: 620px;
height: 23px;
font-weight: 400;
font-size: 20px;
text-align: center;
color: #424242;
}
/* footer end  */


/* responsive */


@media screen and (max-width: 576px) {


    .feature-info {
        display: flex;
        flex-direction: column;
        gap: 73px;
        justify-content: center;
        align-items: center;
    
    }
    .feature-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    
    
}